@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}
.admin-pannel-container{
    height: 50%;
    width: 60%;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    display: flex; /* Make the container flexbox */
    flex-direction: row; 
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
}
.menues-admin{
    display: flex;
}

#sidebar{
    width: 100%;
    min-width: 100%;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color:rgb(70, 2, 2);
}
#sidebar.expand{
    width: 100%;
    min-width: 100%;
}
.toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
.toggle-btn i{
    font-size: 1.5rem;
    color: #eee;
}

.sidebar-logo{
    margin: auto 0;
}
.sidebar-logo a{
    margin-left: 5px;
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.2rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: rgb(70, 2, 2);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.show-details {
    margin-left: 0; 
    width: 100%; 
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.profile-info {
    padding: 10px;
    width: 100%; 
    display: flex;
    flex-direction: column;
   
}
 h1, .books h1{
    font-size: xx-large;
    text-align: center;
}
.profile-info h2{
    font-size: larger;
    margin:10px 10px;
    
}
.profile-info input{
    min-width: fit-content;
    border-radius: 20px;
    height: 45px;
    padding: 0 10px;
    font-size: medium;
}
.profile-info #btn{
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(70, 2, 2);
    color: #eee;
    font-weight: bold;
    font-size: 18px;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}
.profile-info #btn:hover{
    background-color: #eee;
    color: rgb(70, 2, 2);
}
.profile-info #bookbtn{
    height: 150px;
}
.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image img{
    height: 250px;
    width: 250px;
}
.book-info {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

/* This for book menue*/


.books{
    display: block;
}
.book-info .bookbtn,.user-info .userbtn{
    width: 30%;
    height:25vh;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow:0 2px 5px rgb(43, 15, 15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.book-info .bookbtn:hover,.user-info .userbtn:hover{
    box-shadow:10px 10px 10px rgb(43, 15, 15);
}
.book-info .bookbtn i,
.user-info .userbtn i{
    font-size: 2em;
    margin: auto;
}
.book-info .bookbtn p,
.user-info .userbtn p
{
    font-size: 1em;
    font-weight: bold;
}

