.section_1{
    margin-top: 2px;
    background-size:cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold; 
}
.section_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 0;
}
.section_1 #con {
    position: relative;
    z-index: 1;
    width: 80%;
}

.section_1 h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_1 h1 span{
    color: rgb(190, 241, 6);
}

.section_1 p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.section_1 .home-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section_1 .home-btn .btn {
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 30px;
}

.btn_find{
    background-color: #ff6804;
    border: none;
}
.sec-title p{
    color: rgb(134, 132, 132);
}
.quick-access-section {
    min-height: 100vh;
    padding: 0 8%;
    text-align: center;
    padding-top: 40px;
}

.content-card {
    cursor: pointer;
    box-shadow: 1px 3px 2px 2px rgb(221, 219, 219);
    transition: transform 0.3s, border 0.3s;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.content-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.content-card img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: border 0.3s;
    mix-blend-mode: multiply;
}
.content-card p {
    color: rgb(134, 132, 132);
}

.content-card:hover img {
    border: 3px solid orangered;
}

.content-card h4 {
    font-weight: bold;
}

.decorative-line-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decorative-line {
    border-bottom: 1px solid rgb(100, 99, 99);
    width: 100px;
    margin: 0 10px;
}

.read-more-btn {
    background: transparent;
    border: none;
    color: inherit;
    padding: 5px;
    border-radius: 4px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale :0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.about-section{
    min-height: 90vh;
    padding: 0 8%;
    text-align: center;
    margin-top: 50px;
}
.about-section .about-content{
   height: auto;
   display: flex;
}
.about-section .about-content .about-text{
    margin-top: 70px;
    height: 400px;
    margin-left: 20px;
    width: 50%;
    font-size: 18px;
    line-height: 1.8em;
}
.about-section .about-content button{
    margin-left: 400px;
    margin-top: -20px;
    background-color: chocolate;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}
.about-section .about-content button:hover{
    transform: scale(1.1);
    z-index: 1;
}

.about-section .about-content .about-img{
    margin-top: 20px;
   position: relative;
   border-radius: 8px;
   height: 400px;
   width: 50%;
   margin-left: 20px;
}
.about-section .about-content .about-img img{
   margin-top: 15px;
   width: 100%;
}
.about-section .about-content .about-img .element{
   position: absolute;
   width: 100%;
   margin-left: -520px;
   animation: move 2.5s linear infinite;
}
@keyframes move{
   0%{
       transform: translate(-15px, 0px);
   }
   50%{
       transform: translate(0px, -15px);
   }
   100%{
       transform: translate(-15px, 0px);
   }
}

.book-section{
    min-height: 90vh;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}
.book-werp{
    margin-top: 40px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.book-werp .book-con-card{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.book-werp .book-con-card img{
    transition: transform  0.5s;
    width: 100%;
    height: 100%;
}
.book-werp .book-con-card img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.book-werp .book-con-card .box:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.book-werp::-webkit-scrollbar{
    display: none;
}
.book-conten{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#backbtn,#nextbtn{
    width :50px;
    cursor: pointer;
    margin: 40px;
}
.bookbtn-nb{
    display: block;
    margin: 20px auto;
    font-size: 3rem;
    color: brown;
}
.box{
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.overlay{
    height: 0;
    width: 100%;
    background:linear-gradient(transparent,#1c1c1c 58%);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}
.box:hover .overlay{
    height: 40%;
}
.box .overlay h3{
    margin-top: 10px;
    font-size: 18px;
    font-family: bebas 'Courier New', Courier, monospace;
    color: #fff;
}
.box .overlay p{
    font-size: small;
    color: #cfcfcf;
}
.overlay span{
    margin-top: -5px;
    color: #cfcfcf;
    font-size: small;
}

.news-section {
    min-height: 100vh;
    padding: 0 8%;
    text-align: center;
}
.news-card-main {
    width: 100%;
}
.news-card {
    box-shadow: 2px 2px 6px rgb(0,0,0,0.5);
    height: 250px;
    border: 1px solid rgba(238, 255, 3, 0.548);
    display: flex;
    transition: 0.5s;
}
.news-card:hover {
    transform: scale(1.05);
}
.news-cardImg img {
    width: 350px;
    height: 100%;
}
.news-cardContent {
    padding: 10px;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-cardContent a {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(203, 205, 212);
    border-radius: 20px;
    padding: 5px 5px;
    width: 100px;
    font-size: 14px;
    margin-left: 40px;
}
.news-cardContent a:hover {
    border: none;
    background-color: yellow;
    transform: scale(1.1);
}
.news-cardContent p {
    color: rgb(197, 198, 199);
}
.news-cardContent h4{
    font-size: 22px;
    text-align: left;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.status-section
{
    padding: 0 8%;
    text-align: center;
}

.status-card{
    height: 150px;
}

.status-icon{
    text-align: center;
    font-size: 40px;
}

.status-count{
    font-size: xx-large;
}

