@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-log-in-interface{
    display: flex;
    width: 40vw;
    height: fit-content;
    border-radius: 20px;
    background:white;
    padding: 10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
.admin-log-in-interface .admin-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    background:white;
    border-radius: 20px;
    margin: 0 10px ;
    height: 100%;
}
.admin-log-in-interface .admin-image i{
    font-size: 10em;
    display: block; /* Set to block for better alignment */
    margin: 40% 0; 
    color:rgb(70, 2, 2);
}
.admin-log-in-interface .admin-login-pannal{
    height: 100%;
    width: 30vw;
    display: flex;
}
.admin-log-in-interface .admin-login-pannal #form{
    background:white;
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}
.admin-log-in-interface .admin-login-pannal #form h1{
    color: rgb(70, 2, 2);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.admin-log-in-interface .admin-login-pannal #form input{
    width: 100%;
    background-color: #eee;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 5px;
}
.admin-log-in-interface .admin-login-pannal #form #btn{
    background-color: rgb(70, 2, 2);
    color: #eee;
    font-size: 20px;
    cursor: pointer; 
}
.admin-log-in-interface .admin-login-pannal #form #btn:hover{
    background-color:rgb(5, 4, 4);
    color: white;
}
.admin-log-in-interface .admin-login-pannal #form .error{
    width: 100%;
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-bottom: 8px;
    display:block;
}
.pwd-icon{
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.pwd-icon img{
    margin-right: 10px;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
p a{
    color: #3d3939;
    font-weight: bold;
    font-size: 20px;
}
p a:hover{
    font-style: italic;
}


